[submodule "kotlin_bootcamp"]
	path = kotlin_bootcamp
	url = https://github.com/vantutrieu97/kotlin_bootcamp.git
[submodule "kotlin_jetpack"]
	path = android_kotlin_jetpack
	url = https://github.com/vantutrieu97/android_kotlin_jetpack.git
[submodule "kotlin_dice_roller"]
	path = kotlin_dice_roller
	url = https://github.com/vantutrieu97/kotlin_dice_roller.git
